<section class="section">
  <div class="container">
    <h1 class="title">
      Simple time calc
    </h1>
    <p class="subtitle">
      To be able to check the difference in time!
    </p>
    <div id="calculator" class="columns is-multiline">
      <time-input class="column is-one-third" label="Start" value={{journey.start}} (valueChanged)="updateResult()" ngDefaultControl></time-input>
      <time-input class="column is-one-third" label="Break" [(ngModel)]="journey.break" (valueChanged)="updateResult()" ngDefaultControl></time-input>
      <time-input class="column is-one-third" label="End"   [(ngModel)]="journey.end" (valueChanged)="updateResult()" ngDefaultControl></time-input>
      <div class="column is-size-1 has-text-centered is-half is-offset-one-quarter">{{result}}</div>
    </div>
  </div>
</section>